* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(135deg, #667eea, #764ba2);
	margin: 0;
}

.container {
	background: white;
	padding: 20px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	width: 80%;
	text-align: center;
}

.task-container {
	padding: 25px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	border-bottom: 2px solid #e1ca95;
}

h2 {
	color: #333;
}

input {
	width: 80%;
	padding: 10px 15px;
	border-radius: 5px 0 0 5px;
	font-size: 16px;
	border: 2px solid #667eea;
}

input:focus {
	outline: none;
}

#addTaskBtn {
	width: 20%;
	color: #000;
	padding: 10px 15px;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 16px;
	transition: 0.3s;
	border: 2px solid #667eea;
}

#addTaskBtn:hover {
	color: #fff;
	background: #764ba2;
}

.task-list {
	padding: 25px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

ul {
	width: 100%;
	padding: 0;
}

li{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #f4f4f4;
	margin: 5px 0;
	padding: 10px;
	border-radius: 5px;
}

li div{
	display: flex;
	background: transparent;
	gap: 20px;
}

.completedLi {
	background: #59df70;
}

.task-list input[type="checkbox"] {
	transform: scale(1.2);
	width: 20px;
	height: 20px;
}

.edit,
.delete {
	padding: 5px 10px;
	margin-left: 5px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 20px;
}

.edit {
	background: #f1d790;
	color: white;
}

.edit.hidden {
	display: none;
}

.delete {
	background: #eea0a0;
	color: white;
}

.completed {
	text-decoration: line-through;
	color: gray;
}

@media (max-width: 735px) {
	.task-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 10px;
	}

	input {
		width: 100%;
		border-radius: 5px;
		border: 2px solid #667eea;
	}

	#addTaskBtn {
		width: 100%;
		border-radius: 5px;
		border: 2px solid #667eea;
	}

	.li div{
		gap: 10px;
	}
}
